body{
    background-color:lightgrey;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight:300;
    width:65%; 
    margin-left: auto;
    margin-right:auto;

    }

/* nav bar */

.header-container{
        width: 90%;
        margin: 0 auto;
    }    

header{
    background: #215e52;
    font-weight:500;  
}

header::after {
    content: '';
    display:table;
    clear:both;
}

.logo{
    float:left;
    width:160px;
    padding: 10px;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style:none;

}

nav li{
    display:inline-block;
    margin-left:70px;
    padding-top: 28px;

    position:relative;
}

nav li a.active {
    color:#abb9b5;
}

nav a{
    color:white;
    font-size:15px;
    text-decoration:none;
    text-transform:uppercase;
}


nav a:hover {
    color:#abb9b5;
}

nav a::before {
    content:'';
    display:block;
    height:3px;
    background-color: lightgray;

    position:absolute;
    top: 0;
    width:0%;

    transition: all ease-in-out 230ms;

}

nav a:hover::before {
    width:100%;
}


.banner {
    width:100%;
    margin-top:5px;
}

.container {
    width:90%;
    margin-left:auto;
    margin-right: auto;
    
}

/* Footer */

footer {
    background-color:#215e52;
    height:85px;
    margin-bottom:auto;
}

.footer-link {
    color:#ffffff;
    text-decoration: none;
    padding-left:15px;
    padding-top:17px;
    display:inline-flex;
}

.footer-link a:hover {
    color:#bdc9c5;
}

.footer-imgs{
    float:right;
}

.paypal-img {
    width: 85px;
    padding-top:4px;
}

.trustpilot-img {
    width:100px;
    padding-bottom:6px;
    padding-right:5px;
}

.bbb-img {
    width: 95px;
    padding-top:15px;
    padding-right:15px;
    padding-left:8px;
}

.shopify-img {
    width: 85px;
    padding-bottom:17px;
    padding-right:7px;
}

/* Order form */

.order-container {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    background-color: #bdc9c5;
    padding-left:35px;

}

/*
.order-form-alignment {
    padding-left:120px;
}
*/
.fname {
    margin-bottom:5px;
    width:43%
}

.lname {
    width:44%;
    margin-bottom:5px;
    padding-left:4px;
}

label {
    font-size: small;
    color:rgb(31, 31, 31);
}

.wide-input {
    width:90%;
    margin-top:5px;
    margin-bottom:5px;
}

#country {
    margin-top:5px;
    margin-bottom:5px;
    width:33%;
}

#state {
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    width: 30%;
}

#zip {
    width: 22%;
    margin-bottom:5px;
}

#place-order {
    float:inline-end;
    margin-right:70px;
    margin-bottom:10px;
}