body{
    background-color:lightgrey;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:300; 
    margin-left: 20px;
    margin-right:20px;

    }

.header-container{
        width: 90%;
        margin: 0 auto;
    }    

header{
    background: #215e52;
    font-weight:500;  
}

header::after {
    content: '';
    display:table;
    clear:both;
}

.logo{
    float:left;
    width:160px;
    padding: 10px;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style:none;

}

nav li{
    display:inline-block;
    margin-left:70px;
    padding-top: 25px;

    position:relative;
}

nav li a.active {
    color:#bdc9c5;
}

nav a{
    color:white;
    font-size:15px;
    text-decoration:none;
    text-transform:uppercase;
}


nav a:hover {
    color:#bdc9c5;
}

nav a::before {
    content:'';
    display:block;
    height:3px;
    background-color: lightgray;

    position:absolute;
    top: 0;
    width:0%;

    transition: all ease-in-out 230ms;

}

nav a:hover::before {
    width:100%;
}

.banner {
    width:100%;
    margin-top:5px;
}

.container {
    width:85%;
    margin-left:auto;
    margin-right: auto;
    
}

footer {
    background-color:#215e52;
    height:85px;
    margin-bottom:0;
}

.footer-imgs{
    float:right;
}

.paypal-img {
    width: 85px;
    padding-top:4px;
}

.trustpilot-img {
    width:100px;
    padding-bottom:6px;
    padding-right:5px;
}

.bbb-img {
    width: 95px;
    padding-top:15px;
    padding-right:15px;
    padding-left:8px;
}

.shopify-img {
    width: 85px;
    padding-bottom:17px;
    padding-right:7px;
}